{{- $validTypes := "alert warning" }}

{{- $type := cond .IsNamedParams (.Get "type") (.Get 0) }}
<div>
{{- if not (in $validTypes $type) }}
  {{ errorf "%s: Invalid callout's type '%s'. Expecting one of '%s'" .Position $type $validTypes }}
{{- else -}}
  {{- $className := printf "callout callout-%s" $type }}
  <div class="{{ $className }}" role="callout">
    <div class="callout-header">
      {{- $type| humanize  }}:
    </div>
    <div class="callout-content">{{- .Inner | markdownify}}</div>
  </div>
{{- end }}
</div>